#license {
    position: fixed;
    float: left;
    /* top: 772px; */
    bottom: 3px;
    z-index: 1;
    background: none;
    height:15px;
    font-size: x-small;
    margin-top: 10px;
    top: 97.5%; 
    left: 50%; 
    transform: translateX(-50%) translateY(-50%);
}